* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}


p {
    font-family: monospace;
    font-style: italic;
    color: rgb(255, 0, 0);
    z-index: 2;
    text-align: center;
    text-shadow: 3px 3px rgb(154, 161, 57);
    font-size: calc(1.5em + 1vw + 1vh);
    font-weight: bold;

}

p:nth-child(2) {
    color: rgb(255, 174, 0);
    text-shadow: 3px 3px rgb(238, 255, 0);
    font-size: calc(1.5em + 1vw + 1vh);
    z-index: 2;
}


p:nth-child(3) {
    color: rgb(1, 114, 191);
    text-shadow: 3px 3px rgb(68, 68, 66);
    font-size: calc(1.5em + 1vw + 1vh);
    z-index: 2;
}

div {
    position: absolute;
    margin-left: 20%;
    top: 15%;
    right: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: transparent;
    z-index: 1;

}


img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 1.5s ease;
    z-index: 0;
    
}

.reno {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 25%;
    width: 40%;
    height: 30%;
    z-index: 3;


}

@media all and(oritentation:landscape) {

    img,
    div {
        width: 40vh;
        margin-left: calc(50 vw-35vh);
    }

}