    /* Estilo border-box */
    * {
      box-sizing: border-box;
    }

    /* Color de fondo y espaciado de todo el body */
    body {
      background-color: #f1f1f1;
      /* color de fondo del body */
      padding: 20px;
      /* espaciado */
    }

    /* Añadimos una fuente personalizada que usaré en el título y en los carteles */
    @font-face {
      font-family: 'Pacifico';
      /* nombre de la fuente que vamos a usar */
      font-style: normal;
      /* estilo de la fuente que vamos a usar */
      font-weight: 400;
      /* grosor de la fuente que vamos a usar */
      font-display: swap;
      /* swap hace que el navegador cargue la fuente personalizada de manera inmediata */
      src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
      /* url de donde estamos sacando la fuente (woff2 es una extensión para archivos de fuentes web) */
    }

    /* Imagen de banner responsive con sus respectivos ancho y alto */
    .banner {
      width: 100%;
      /* ancho del banner */
      height: 30%;
      /* alto del banner */
    }

    /* Le damos resolución a la pantalla con sus bordes, si minimiza será responsive */
    .main {
      max-width: 1280px;
      /* espaciado */
      margin: auto;
      /* asignamos un margen automático a todos los márgenes */
    }

    /* Cambiamos el tamaño y la fuente de h1. La colocamos dentro del banner */
    #titulo {
      position: absolute;
      /* absolute coloca la palabra portfolio dentro del banner */
      font-size: 50px;
      /* tamaño de la fuente */
      font-family: Pacifico;
      /* colocamos la fuente personalizada */
      top: 13%;
      /* separación parte de arriba */
      left: 20%;
      /* separación parte izquierda */
    }

    /* Cambiamos el tamaño y la fuente de p */
    p {
      font-size: 16px;
      /* tamaño de la fuente de p */
      font-family: Helvetica;
      /* familia de la fuente de p */
    }

    /* Cambiamos propiedades a la palabra portfolio que hemos introducido en el banner */
    #titulo {
      top: 7%;
      /* colocación por arriba */
      left: 20%;
      /* colocación por la izquierda */
      right: 70%;
      /* colocación por la derecha */
      font-size: 55px;
      /* tamaño de la fuente del título */
    }

    /* Cambiamos propiedades de h2 */
    h2 {
      text-align: center;
      /* texto alineado al centro */
      font-family: sans-serif;
      /* familia de la fuente del h2 */
      font-size: 18px;
    }
    
    /* Cambiamos propiedades de pre */
    pre {
      font-size: 14px;
      text-align: center;
    }
    
    /* INICIO CSS DE LOS DISTINTOS BOTONES */

    /* Botón de instagram dentro del banner.em usa el font-size del botón */
    .banner .instagram {
      position: absolute;
      /* usamos absolute para colocar el botón dentro del banner */
      background-color: #0ec91869;
      /* color de fondo */
      font-family: Pacifico;
      /* usamos la fuente personalizada que añadimos antes */
      padding: 0.6em 1.3em;
      /* espaciado */
      font-weight: 900;
      /* grosor de la fuente que vamos a usar */
      font-size: 18px;
      /* tamaño de la fuente que vamos a usar */
      border: 3px solid black;
      /* tamaño y estilo del borde */
      border-radius: 0.4em;
      /* redondea las esquinas  */
      box-shadow: 0.1em 0.1em;
      /* sombra de la caja */
      top: 24%;
      /* ajuste del botón por arriba */
      left: 70%;
      /* ajuste del botón por la izquierda */
      width: 7em;
      /* ancho del botón */
      height: 5em;
      /* alto del botón */
    }

    /* como interactua el botón instagram al dejar el cursor encima, en este caso hacemos que se mueva y tenga algo de sombra. 
    em usa el font-size del botón */
    .instagram:hover {
      transform: translate(-0.05em, -0.05em);
      /* recoloca en el eje horizontal y/o vertical. */
      box-shadow: 0.15em 0.15em;
      /* sombra de la caja */
    }

    /* como interactua el botón instagram al pulsar con el cursor encima, en este caso baja simulando que lo hemos pulsado y tenga algo de sombra. 
    em usa el font-size del botón */
    .instagram:active {
      transform: translate(0.05em, 0.05em);
      /* recoloca en el eje horizontal y/o vertical. */
      box-shadow: 0.05em 0.05em;
      /* sombra de la caja */
    }

    /* Botón de pinterest dentro del banner.em usa el font-size del botón */
    .banner .pinterest  {
      position: absolute;
      /* usamos absolute para colocar el botón dentro del banner */
      background-color: #0ec91869;
      /* color de fondo */
      font-family: Pacifico;
      /* usamos la fuente personalizada que añadimos antes */
      padding: 0.6em 1.3em;
      /* espaciado */
      font-weight: 900;
      /* grosor de la fuente que vamos a usar */
      font-size: 18px;
      /* tamaño de la fuente */
      border: 3px solid black;
      /* tamaño y estilo del borde */
      border-radius: 0.4em;
      /* redondea las esquinas  */
      box-shadow: 0.1em 0.1em;
      /* sombra de la caja */
      top: 11%;
      /* ajuste del botón por arriba */
      left: 71%;
      /* ajuste del botón por la izquierda */
      width: 7em;
      /* ancho del botón */
      height: 5em;
      /* alto del botón */
    }

    /* como interactua el botón pinterest  al dejar el cursor encima, en este caso  hacemos que se mueva y tenga algo de sombra. em usa el font-size del botón */
    .pinterest:hover {
      transform: translate(-0.05em, -0.05em);
      /* recoloca en el eje horizontal y/o vertical. */
      box-shadow: 0.15em 0.15em;
      /* sombra de la caja */
    }

    /* como interactua el botón pinterest  al pulsar con el cursor encima, en este caso baja simulando que lo hemos pulsado y tenga algo de sombra. em usa el font-size del botón */
    .pinterest:active {
      transform: translate(0.05em, 0.05em);
      /* recoloca en el eje horizontal y/o vertical. */
      box-shadow: 0.05em 0.05em;
      /* sombra de la caja */
    }

    /* botón que hace scroll hacia arriba de la página */
    #arriba {
      display: none;
      /*esto oculta el botón por defecto hasta hacer el scroll mínimo establecido en el script */
      font-family: Pacifico;
      /* fuente personalizada añadida al css */
      background-color: #0ec91869;
      /* color de fondo */
      position: fixed;
      /* esto hace que esté pegado a la posición */
      bottom: 1%;
      /* esto hace que esté separado del fondo de la página un poquito*/
      right: 0.25%;
      /* esto hace que se separe de la derecha lo suficiente para no topar con la barra y de la izquierda lo suficiente para no tapar una imagen */
      z-index: 99;
      /* z-index hace que ningún elemento superponga esto. usamos 99 para que nada lo superponga*/
      padding: 0.6em 1.3em;
      /* espaciado. usamos em para usar la font-size del botón */
      font-weight: 900;
      /* cuerpo de la fuente */
      font-size: 14px;
      /* tamaño fuente */
      border: 3px solid black;
      /* borde */
      border-radius: 0.4em;
      /* borde redondo usando em */
      box-shadow: 0.1em 0.1em;
      /* sombra de la cajita del botón usando em */
    }

    /* como interactua el botón arriba al dejar el cursor encima, en este caso baja simulando que lo hemos pulsado y tenga algo de sombra. em usa el font-size del botón */
    #arriba:hover {
      transform: translate(-0.05em, -0.05em);
      box-shadow: 0.15em 0.15em;
    }

    /* como interactua el botón arriba al pulsar con el cursor encima, en este caso baja simulando que lo hemos pulsado y tenga algo de sombra. em usa el font-size del botón */
    .pinterest:active {
      transform: translate(0.05em, 0.05em);
      box-shadow: 0.05em 0.05em;
    }

    /* botón que devuelve al índice */
    #indice {
      font-family: Pacifico;
      /* fuente personalizada añadida al css */
      background-color: #0ec91869;
      /* color de fondo */
      padding: 0.6em 1.3em;
      /* espaciado. usamos em para usar la font-size del botón */
      font-weight: 900;
      /* cuerpo de la fuente */
      font-size: 14px;
      /* tamaño fuente */
      border: 3px solid black;
      /* borde */
      border-radius: 0.4em;
      /* borde redondo usando em */
      box-shadow: 0.1em 0.1em;
      /* sombra de la cajita del botón usando em */
    }

    /* color del texto de los links sin pulsar */
    a:link {
      color: #6f0406;
    }

    /* color del texto de los links ya pulsados */
    a:visited {
      color: #6f0406;
    }

    /* color del texto de los links al dejar el cursor encima */
    a:hover {
      color: #ff7114
    }

    /* color del texto de los links justo al pulsarlos */
    a:active {
      color: #ff7114
    }

    /* color del texto del botón índice sin pulsar */
    #indice:link {
      color: #6f0406;
    }

    /* color del texto del botón índice ya pulsado */
    #indice:visited {
      color: #6f0406;
    }

    /* color del texto del botón índice al dejar el cursor encima */
    #indice:hover {
      color: #ff7114
    }

    /* color del texto del botón índice justo al pulsarlo */
    #indice:active {
      color: #ff7114
    }

    /* color del texto del botón arriba sin pulsar */
    #arriba:link {
      color: #6f0406;
    }

    /* color del texto del botón arriba ya pulsado */
    #arriba:visited {
      color: #6f0406;
    }

    /* color del texto del botón arriba al dejar el cursor encima */
    #arriba:hover {
      color: #ff7114
    }

    /* color del texto del botón arriba justo al pulsarlo */
    #arriba:active {
      color: #ff7114
    }

    /* FINAL CSS DE LOS DISTINTOS BOTONES */

    /* INICIO CSS DE LOS BLOQUES DE IMÁGENES, COLUMNAS, RESPONSIVE, ETC. */

    /* Espacio entre líneas */
    .row {
      margin: 8px -16px;
    }

    /* Añadimos separación entre las columnas de imagénes */
    .row,
    .row>.column {
      padding: 10px;
    }

    /* Creamos 4 columnas con un 25% de width cada una */
    .column {
      float: left;
      /* ubicamos con float a la izquierda */
      width: 25%;
      /* ancho del 25% por columna, 4*25=100 del ancho de la página */
    }

    /* Esto ayuda a que el fondo blanco de las cajas de imágenes y texto no se fusione con el de al lado usando un espacio en blanco */
    .row:after {
      content: "";
      /* hace que no contenga un elemento  */
      display: table;
      /* el elemento se comporta como una table */
      clear: both;
      /* el elemento es movido hacia abajo para limpiar tanto elementos flotantes de la izquierda como de la derecha. */
    }

    /* Fondo blanco de las cajas y espaciado entre la imagen y la última palabra */
    .content {
      background-color: white; /* color de fondo blanco */
      padding: 10px; /* espaciado */
    }

    /* Esto transforma las imágenes y las hace responsive para cuando se toque la pantalla y hacemos width 50% para que se ponga en 2 columnas en vez de en una solo */
    @media screen and (max-width: 1280px) {
      .column {
        width: 50%;
      }
    }

    /* Esto transforma las imágenes  y las hace responsive para que al pasar de cierta px se transforme en una columna con una foto, por eso el width 100% */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }

    @media screen and (max-width: 1920px) {
      .banner .instagram {
        top: 10%;
        left: 65%;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1920px) {
      .banner .pinterest {
        top: 25%;
        left: 73%;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1920px) {
      #titulo {
        top: 4%;
        left: 25%;
        right: 70%;
        font-size: 55px;
      }
    }

    /* Transformamos en responsive lo que hay dentro del banner (h1, buttons) 1550px */
    @media screen and (max-width: 1550px) {
      .banner .instagram {
        top: 10%;
        left: 69%;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1550px) {
      .banner .pinterest {
        top: 20%;
        left: 80%;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1550px) {
      #titulo {
        top: 4%;
        left: 14%;
        right: 70%;
        font-size: 55px;
      }
    }

    /* Transformamos en responsive lo que hay dentro del banner (h1, buttons) 1366px */
    @media screen and (max-width: 1366px) {
      .banner .instagram {
        top: 10%;
        left: 69%;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1366px) {
      .banner .pinterest {
        top: 23%;
        left: 83%;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1366px) {
      #titulo {
        top: 4%;
        left: 14%;
        right: 70%;
        font-size: 55px;
      }
    }

    /* Transformamos en responsive lo que hay dentro del banner (h1, buttons) 1000px */
    @media screen and (max-width: 1000px) {
      .banner .instagram {
        top: 8%;
        left: 69%;
        font-size: 13px;
      }
    }

    @media screen and (max-width: 1000px) {
      .banner .pinterest {
        top: 8%;
        left: 83%;
        font-size: 13px;
      }

      #titulo {
        top: 1.5%;
        left: 14%;
        right: 70%;
        font-size: 45px;
      }
    }

    /* Transformamos en responsive lo que hay dentro del banner (h1, buttons) 700px */
    @media screen and (max-width: 700px) {
      .banner .instagram {
        top: 5%;
        left: 69%;
        font-size: 10px;
      }
    }

    @media screen and (max-width: 700px) {
      .banner .pinterest {
        top: 5%;
        left: 83%;
        font-size: 10px;
      }

      #titulo {
        top: 0.5%;
        left: 14%;
        right: 70%;
        font-size: 35px;
      }
    }

    /* Transformamos en responsive lo que hay dentro del banner (h1, buttons) 500px. 
    No lo bajamos de 500 porque se mantiene bien hasta 400. */
    @media screen and (max-width: 500px) {
      .banner .instagram {
        top: 3.5%;
        left: 73%;
        font-size: 8px;
      }
    }

    @media screen and (max-width: 500px) {
      .banner .pinterest {
        top: 7.5%;
        left: 73%;
        font-size: 8px;
      }

      #titulo {
        top: 0.25%;
        left: 14%;
        right: 70%;
        font-size: 30px;
      }
    }

    /* Transformamos en responsive lo que hay dentro del banner (h1, buttons) 500px */
    @media screen and (max-width: 400px) {
      .banner .instagram {
        top: 3%;
        left: 73%;
        font-size: 8px;
      }
    }

    @media screen and (max-width: 400px) {
      .banner .pinterest {
        top: 9%;
        left: 73%;
        font-size: 8px;
      }

      #titulo {
        top: 0.25%;
        left: 14%;
        right: 70%;
        font-size: 30px;
      }
    }

    /* FINAL CSS DE LOS BLOQUES DE IMÁGENES, COLUMNAS, RESPONSIVE, ETC. */

    /* CSS DE LAS BOLITAS ANIMADAS */
    .conjuntocirculos {
      width: 200px; /* Ancho de las bolitas */
      height: 60px; /* Alto de las bolitas */
      left: 45%; /* Posición al centro */
      position: relative; /* Relative nos deja asignarle left, right, top y bottom al wrapper */
      z-index: 1; 
    }
    
    .circulo {
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 50%;
      background-color: rgb(255, 0, 0);
      left: 15%;
      transform-origin: 50%;
      animation: circle7124 .5s alternate infinite ease;
    }
    
    @keyframes circle7124 {
      0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
      }
    
      40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
      }
    
      100% {
        top: 0%;
      }
    }
    
    .circulo:nth-child(2) {
      left: 45%;
      animation-delay: .2s;
    }
    
    .circulo:nth-child(3) {
      left: auto;
      right: 15%;
      animation-delay: .3s;
    }
    
    .sombracirculo {
      width: 20px;
      height: 4px;
      border-radius: 50%;
      background-color: rgba(0,0,0,0.9);
      position: absolute;
      top: 62px;
      transform-origin: 50%;
      z-index: -1;
      left: 15%;
      filter: blur(1px);
      animation: shadow046 .5s alternate infinite ease;
    }
    
    @keyframes shadow046 {
      0% {
        transform: scaleX(1.5);
      }
    
      40% {
        transform: scaleX(1);
        opacity: .7;
      }
    
      100% {
        transform: scaleX(.2);
        opacity: .4;
      }
    }
    
    .sombracirculo:nth-child(4) {
      left: 45%;
      animation-delay: .2s
    }
    
    .sombracirculo:nth-child(5) {
      left: auto;
      right: 15%;
      animation-delay: .3s;
    }
    